Connected Services/PayPointSrv/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TOM.DAL.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TOM.DAL.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmvCardReplacementStep">
    <xs:sequence>
      <xs:element name="_x003C_CurrentStep_x003E_k__BackingField" type="xs:unsignedByte" />
      <xs:element name="_x003C_CustomerId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LostCardPanNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NewCardPanNo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PassTransferStatus_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_TimeStamp_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TransactionId_x003E_k__BackingField" type="xs:long" />
      <xs:element name="_x003C_TransactionStatus_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmvCardReplacementStep" nillable="true" type="tns:EmvCardReplacementStep" />
</xs:schema>